@model NerdDinner.Models.Dinner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Fields</legend>
    <p>
        DinnerID:    
        @Model.DinnerID
    </p>
    <p>
        Title:
        @Model.Title
    </p>
    <p>
        EventDate:
        @String.Format("{0:g}", Model.EventDate)
    </p>
    <p>
        Description:
        @Model.Description
    </p>
    <p>
        HostedBy:
        @Model.Host
    </p>
    <p>
        ContactPhone:
        @Model.ContactPhone
    </p>
    <p>
        Address:
        @Model.Address
    </p>
    <p>
        Country:
        @Model.Country
    </p>
    <p>
        Latitude: 
        @String.Format("{0:F}", Model.Latitude)
    </p>
    <p>
        Longitude
        @String.Format("{0:F}", Model.Longitude)
    </p>
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.DinnerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

