@model NerdDinner.Models.Dinner

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>

<p>
    <strong>When:</strong>
    @Model.EventDate.ToShortDateString()

    <strong>At:</strong>
    @Model.EventDate.ToShortTimeString()
</p>
<p>
    <strong>Where:</strong>
    @Model.Address
    @Model.Country
</p>
<p>
    <strong>Description:</strong>
    @Model.Description
</p>
<p>
    <strong>Organizer:</strong>
    @Model.Host - 
    @Model.ContactPhone
</p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.DinnerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

